# Data Analysis using PySpark

## The Spark Cluster

### Configuration

Docker.

### Connection

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.\
        builder.\
        appName("pyspark-notebook").\
        master("spark://spark-master:7077").\
        config("spark.executor.memory", "512m").\
        getOrCreate()

In [2]:
spark

In [3]:
## The Data

In [3]:
# load the data

data = spark.read.csv(path='../data/covid19.csv', header=True)

In [5]:
# confirm data has been loaded successfully 
# by showing table and printing schema

data.show()
print(f'Table has {data.count()} rows')
data.printSchema()

+-------------+--------+----------+-----------+---------+------------+----------+
|    continent|location|      date|total_cases|new_cases|total_deaths|new_deaths|
+-------------+--------+----------+-----------+---------+------------+----------+
|North America|   Aruba|2020-03-13|          2|        2|        null|         0|
|North America|   Aruba|2020-03-19|       null|     null|        null|      null|
|North America|   Aruba|2020-03-20|          4|        2|        null|         0|
|North America|   Aruba|2020-03-21|       null|     null|        null|      null|
|North America|   Aruba|2020-03-22|       null|     null|        null|      null|
|North America|   Aruba|2020-03-23|       null|     null|        null|      null|
|North America|   Aruba|2020-03-24|         12|        8|        null|         0|
|North America|   Aruba|2020-03-25|         17|        5|        null|         0|
|North America|   Aruba|2020-03-26|         19|        2|        null|         0|
|North America|   Aruba|2020-03-27|         28|        9|        null|         0|
|North America|   Aruba|2020-03-28|         28|        0|        null|         0|
|North America|   Aruba|2020-03-29|         28|        0|        null|         0|
|North America|   Aruba|2020-03-30|         50|       22|        null|         0|
|North America|   Aruba|2020-03-31|       null|     null|        null|      null|
|North America|   Aruba|2020-04-01|         55|        5|        null|         0|
|North America|   Aruba|2020-04-02|         55|        0|        null|         0|
|North America|   Aruba|2020-04-03|         60|        5|        null|         0|
|North America|   Aruba|2020-04-04|         62|        2|        null|         0|
|North America|   Aruba|2020-04-05|         64|        2|        null|         0|
|North America|   Aruba|2020-04-06|         64|        0|        null|         0|
+-------------+--------+----------+-----------+---------+------------+----------+
only showing top 20 rows

Table has 53087 rows
root
 |-- continent: string (nullable = true)
 |-- location: string (nullable = true)
 |-- date: string (nullable = true)
 |-- total_cases: string (nullable = true)
 |-- new_cases: string (nullable = true)
 |-- total_deaths: string (nullable = true)
 |-- new_deaths: string (nullable = true)

In [6]:
# use spark RDD transformation `filter` function to filter null values 

# first transform to RDD

rdd = data.rdd

In [7]:
filtered_rdd = rdd.filter(lambda row: None not in row.asDict().values())

In [9]:
filtered_df = filtered_rdd.toDF()

In [11]:
filtered_df.show()
print(f'Table has {filtered_df.count()} rows')

+-------------+--------+----------+-----------+---------+------------+----------+
|    continent|location|      date|total_cases|new_cases|total_deaths|new_deaths|
+-------------+--------+----------+-----------+---------+------------+----------+
|North America|   Aruba|2020-04-16|         93|        1|           1|         1|
|North America|   Aruba|2020-04-17|         95|        2|           1|         0|
|North America|   Aruba|2020-04-18|         96|        1|           2|         1|
|North America|   Aruba|2020-04-19|         96|        0|           2|         0|
|North America|   Aruba|2020-04-20|         97|        1|           2|         0|
|North America|   Aruba|2020-04-21|         97|        0|           2|         0|
|North America|   Aruba|2020-04-22|         97|        0|           2|         0|
|North America|   Aruba|2020-04-23|        100|        3|           2|         0|
|North America|   Aruba|2020-04-24|        100|        0|           2|         0|
|North America|   Aruba|2020-04-25|        100|        0|           2|         0|
|North America|   Aruba|2020-04-26|        100|        0|           2|         0|
|North America|   Aruba|2020-04-27|        100|        0|           2|         0|
|North America|   Aruba|2020-04-28|        100|        0|           2|         0|
|North America|   Aruba|2020-04-29|        100|        0|           2|         0|
|North America|   Aruba|2020-04-30|        100|        0|           2|         0|
|North America|   Aruba|2020-05-01|        100|        0|           2|         0|
|North America|   Aruba|2020-05-02|        100|        0|           2|         0|
|North America|   Aruba|2020-05-03|        100|        0|           2|         0|
|North America|   Aruba|2020-05-04|        100|        0|           2|         0|
|North America|   Aruba|2020-05-05|        100|        0|           2|         0|
+-------------+--------+----------+-----------+---------+------------+----------+
only showing top 20 rows

Table has 39974 rows